{% extends "masterpage_admin.html" %}
{% load static %}

{% block content %}

          <h1 class="sub-header">Form Templates</h1>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="/userAdmin1"><img src="{% static 'images/t1.jpg' %}"  width="250px" height="500px" style="border:3px solid gray;  margin-right: 150px;"/></a></li>
            <li><a href="/userAdmin2"><img src="{% static 'images/t2.jpg' %}" width="250px" height="500px" style="border:3px solid gray; margin-right: 150px;" /></a></li>
      
          </ul>
          
{% endblock %}