{% load staticfiles %}

<center>
<div style="border: 3px solid; width:500px;">

<h1><i>{{ title }}</i></h1>



<form method='POST' action=''>{% csrf_token %}  

<h2>Personal Details:</h2>
{{ form1.as_p}}

<h2>Address Details:</h2>
{{ form2.as_p }}

<h2>Educational Details:</h2>
{{ form3.as_p }}

<h2>Program Applied:</h2>
{{ form4.as_p }}

<h2>Work Experience:</h2>
{{ form5.as_p }}

<h2>Upload Documents:</h2>
<table>
<tr><td style="border:1px solid;">Photograph</td></tr>
<tr><td style="border:1px solid;">Signature</td></tr>
<tr><td style="border:1px solid;">Xth Marksheet</td></tr>
<tr><td style="border:1px solid;">Xth Certificate</td></tr>
<tr><td style="border:1px solid;">XIIth Marksheet</td></tr>
<tr><td style="border:1px solid;">XIIth Certificate</td></tr>
<tr><td style="border:1px solid;">Graduation Marksheet</td></tr>
<tr><td style="border:1px solid;">Graduation Certificate</td></tr>
<tr><td style="border:1px solid;">Gate Score Card</td></tr>
</table>


<input type='submit' value='Register' disabled />   <!--on click, POST method sends data to the view-->


</form>
</div>
</center>

