{% extends "masterpage_admin.html" %}

{% block content %}

          <h1 class="sub-header">System Users</h1>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Role</th>
                  <th>Status</th>
                  <th>Comments</th>
                </tr>
              </thead>
              <tbody>

               {% for item in all_entries %}
                <tr> 
                <td>{{ item.name }}</td>
                <td>{{ item.email }}</td> 
                <td>{{ item.role }}</td>
                <td>{%ifequal item.approve "3"%}
                    Pending
                    {%else%}
                    {%ifequal item.approve "2"%}
                    Declined
                    {%else%}
                    Approved
                    {%endifequal%}
                    {%endifequal%}
                  
                </td>
                <td>{{ item.comment }}</td>
                </tr>              
               {% endfor %} 
              </tbody>
            </table>
          </div>

          {% endblock %}
        