{% extends "masterpage_admin.html" %}

{% block content %}

          <h1 class="sub-header">System Details</h1>
          
          {%if form%}                   
          <form method='POST' action=''>{% csrf_token %}   
          <div class="form-style-1">
          {{ form.as_p}}

          <input type='submit' value='Save'/>  
    		 </div>
          </form>

          {%else%}
          <p>You have already entered system details.</p>

          {%endif%}
         

          {% endblock %}
        