<!DOCTYPE html>
<!--{% extends "masterpage_candidate.html" %}-->
{% load static %}
{% block content %}

<div class="table-responsive" xmlns="http://www.w3.org/1999/html">
    <br>
     <form method="POST" action=''>{% csrf_token %}
        <!--<h4> <b>Address Details</b></h4>-->
        <table class="table table-striped">
        <tr>
            <th bgcolor="#e1e1e1">Permanent Address:</th>
            <td bgcolor="#e1e1e1"> </td>
            {{permanentAddress}}
        </tr>
        <tr>
             <th bgcolor="#e1e1e1">Current Address:</th>
             <td bgcolor="#e1e1e1">
             </td>
             {{currentAddress}}

        </tr>
        </table>

        </br>

        <input type= "hidden" name='roll_number' value="{{roll_number}}" />
        </br>
        <input type = 'submit' value = 'Save'>

    </form>
</div>
</html>
{%endblock%}