<!DOCTYPE html>
<!--{% extends "masterpage_candidate.html" %}-->
{% load static %}
{% block content %}
<!--{% load url from future%}-->

<div class="table-responsive">
    <br>
    <form method="POST" action=''>{% csrf_token %}
        <!--<h4 color="#e1e1e1"> <b>Work Experience</b></h4>-->
        <table class="table table-striped">
                <tr>
                <th bgcolor="#e1e1e1"> File List</th><td bgcolor="#e1e1e1"></td>
                <tr>
                <td><li><a href="/candidate_photo_upload/{{roll_number}}">Photograph</a></li>
                </td>
                </tr>
                <tr>
                <td><li><a href="/candidate_sign_upload/{{roll_number}}">Signature</a></li></td>
                </tr>
                <td><li><a href="/candidate_xm_upload/{{roll_number}}">Xth Marksheet</a></li></td>
                </tr>

            </tr>
        </table>
        <!--<input type= "hidden" name='roll_number' value="{{roll_number}}" />-->
        </br>
        <input type = 'submit' value = 'Save'>

    </form>
</div>


</div>
</html>
{%endblock%}