<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--{% extends "masterpage_candidate.html" %}-->
{% load static %}
{% block content %}


<div class="table-responsive">
    <br>
    <form method="POST" action=''>{% csrf_token %}

        <table class="table table-striped">
            <tr>
                <th bgcolor="#e1e1e1"> Job Details</th><td bgcolor="#e1e1e1"></td>
                {{jobDetailForm}}
            </tr>
        </table>
        <input type= "hidden" name='roll_number' value="{{roll_number}}" />
        </br>
        <input type = 'submit'name = "submit_save" value = 'Save'/>

    </form>
</div>
</body>
</html>
{%endblock%}